-
	var data = [
		{
			iconUrl: asset('i/icon-brain.png'),
			title: 'Обучение',
			p: 'Цветам, формам, буквам, цифрам, основам счета'
		},
		{
			iconUrl: asset('i/icon-navigation.png'),
			title: 'Развитие',
			p: 'Речи, логики, мышления, моторики рук'
		},
		{
			iconUrl: asset('i/icon-board.png'),
			title: 'Интерактивность',
			p: 'Обучение программ, развивающие игры, создание игр, приложений'
		},
	]