-
  var news = [
    {
      text: 'Винахідник Костянтин Шишкін був гостем "ранку по-київськи"і розповів та продемонстрував розвиваючі іграшки для дітей.',
      date: '16 октября, 2016',
      url: 'google.com',
      iconlink: asset('i/link-icon.png')
    },
    {
      text: 'Выиграли краш тест Kids Startups: історії та досвід українських компаній.',
      date: '27 сентября, 2016',
      url: '#',
      iconlink: asset('i/link-icon.png')
    },
    {
      text: 'Рассказываем и показываем кубик с Кирилл Василевский на StartUp краштест проходящем в рамках Kids Startups: історії та досвід українських компаній',
      date: '8 июня, 2016',
      url: '#',
      iconlink: asset('i/link-icon.png')
    },  
    ]
