.section
	--about 
	height 100vh
	background url('/assets/i/bg-about.png') center/cover no-repeat
	
	&__title
		padding-top 16%
		margin-bottom 120px
		font-size 60px
		font-weight 600
		text-align center
	
.info 
	display flex
	justify-content space-around
	
.info-item
	flex-basis 250px
	text-align center
	
	&__icon
		margin-bottom 50px
		
	&__title
		font-size 30px
		font-weight 600
		margin-bottom 25px
		
	&__text
		font-size 20px
		line-height 32px
	