mixin b-about(iconUrl, title, p)
	+b.info-item
		+e('img').icon(src=iconUrl)
		+e('h5').title= title
		+e('p').text= p
+b('section').section.section--about
	.container
		+e('h2').title Что я могу
		.info
			each block in data
				+b-about(block.iconUrl, block.title, block.p)
