.nav-toggler
	padding: 0 10px
	border: 1px solid #fff
	font-size: 24px
	cursor: pointer
	transition: 0.2s
	
	&:hover
		color: #ce2d6c
		border-color: #ce2d6c
	
	@media (min-width: tablets)
		display: none