html
	background #ff690033

body
	color #FFFFFF
	font-family 'Open Sans'
	
.container
	max-width 1170px
	margin 0 auto
	
.cleafix
	clearfix()

.section
	height 100vh
	
	&__title
		padding-top 16%
		margin-bottom 120px
		font-size 60px
		font-weight 600
		text-align center