@import 's/reset'
@import 's/mixins'
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600')
@import 's/main'
@import '../blocks/header'
@import '../blocks/menu'
@import '../blocks/lang-list'
@import '../blocks/nav-toggler'