mixin b-intro
  +b.intro
    +e.info
      +e.title InFansCube
      +e.text Интерактивная развивающая игрушка-кубик для детей от 2 до 6 лет, с возможным расширением функционала как для более младшей, так и для более старшей категории детей.
    +e.info
      +e.title Основная цель
      +e.text Помочь родителям и воспитателям пройти тяжелый эап раннего обучения детей базовым знаниям как можно проще, а детям - обучится основам в развлекательной форме.